[Unit]
Description=Portfolio FastAPI Application
After=network.target

[Service]
User=blackburnd
Group=blackburnd
WorkingDirectory=/opt/cloud_machine_repo
Environment="PATH=/opt/cloud_machine_repo/venv/bin"
EnvironmentFile=/etc/portfolio.env
ExecStart=/opt/cloud_machine_repo/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
