[Unit]
Description=Daniel Blackburn's Portfolio FastAPI Application
After=network.target

[Service]
User=blackburnd
Group=www-data
WorkingDirectory=/opt/cloud_machine_repo
EnvironmentFile=/etc/environment
ExecStart=/opt/cloud_machine_repo/venv/bin/uvicorn main:app --host 127.0.0.1 --port 8000

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
