<!DOCTYPE html>
<html class="no-js wf-freightsanspro-n3-active wf-freightsanspro-n9-active wf-freightsanspro-n4-active wf-freightsanspro-i9-active wf-freightdisplaypro-n7-active wf-freightdisplaypro-i7-active wf-active">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-27877508-5');
    </script>
</head>
<body class="me">
    <div class="wrap">
        <div class="fg">
            <header class="site-header" id="h">
                <h1 class="brand"><a href="/">Blackburn</a></h1>
                <p class="tagline">Signature creative<br>
                <span class="amp">&amp;</span> technical work.</p>
                <nav>
                    <ul>
                        <li class="me active">
                            <a href="/"><span>Daniel</span> Blackburn</a>
                        </li>
                        <li class="projects">
                            <a href="/work/"><span>selected</span> work</a>
                        </li>
                        <li class="contact">
                            <a href="/contact/"><span>we should</span> talk</a>
                        </li>
                        <li class="resume">
                            <a href="/resume" target="_blank">resume</a>
                        </li>
                        <li class="linkedin">
                            <a href="https://linkedin.com/in/Blackburnd" target="_blank">linkedin</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div id="bw" aria-live="polite">
                <article class="bc clearfix">
                    <section class="about">
                        <p>Hello</p>
                        <p>I work with startups, established businesses, educational institutions, and non-profits around the world.</p>
                        <p>I'm delightilding new tooling for ourience.</p>
                        <p>When you're in need of signature creative <span class="amp">&amp;</span> technical work, <a href="/contact/">let's talk.</a></p>
                        <aside class="tech st3 light">
                            <h2>README</h2>
                            <pre><code>
<span class="comment">// sup</span>
<span>const contacts = {</span>
<span>  'email': '<a href="mailto:blackburnd@gmail.com" target="_blank">blackburnd@gmail.com</a>',</span>
<span>  'phone': '<a href="tel:+13057733923" target="_blank">305-773-3923</a>'</span>
<span>  'vcard': '<a href="/assets/files/DanielBlackburn.vcf" target="_blank">Daniel Blackburn.vcf</a>'</span>
<span>};</span>


<span class="comment">// external</span>
<span>const history = {</span>
<span>  'resume': '<a href="https://linkedin.com/in/blackburnd" target="_blank">linkedin<span>.com/in/blackburnd</span></a>',</span>
<span>  'resume-download': '<a href="/assets/files/danielblackburn.pdf?v1206" target="_blank"><span>daniel blackburn-</span>resume.pdf</a>',</span>
<span>  'github': '<a href="https://github.com/blackburnd" target="_blank">blackburnd</a>',</span>
<span>};</span>


</code>
</pre>
</aside>
</section>
<figure>
<img alt="PHOTO" src="/assets/files/daniel2.jpg">
</figure>
</article><!-- barba container -->
</div><!-- barba wrapper -->
<footer class="footer" role="contentinfo">
<p class="copyright">© 2025 Blackburn.</p>
</footer>
</div><!-- #fg -->
</div><!-- .wrap -->

</body></html>